body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.responsive-main-img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.hidden {
    display: none;
}

#mainScreen button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    color: white;
    background-color: #FF6B6B;
    box-shadow: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }
    h1 {
        font-size: 1.5em; /* Smaller text on smaller screens */
    }
    /* input, button {
        /* font-size: 1.5em; /* Adjust based on preference */ 
    /*} */ 
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }
    input, button {
        font-size: 0.9em;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto 2fr; /* This creates two columns, the second one taking up the remaining space */
    column-gap: 10px;
}

#nameInput {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 15px;
}

#welcomeScreen button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    background-color: #FF6B6B;
    box-shadow: none;
    justify-self: end;
}

#mainScreen {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
}

.main-grid-container {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add some space between the text and buttons */
}

.main-grid-container h1 {
    margin-right: 10px; /* Add space between the logo and text */
}

#mainScreen button {
    margin: 5px 0; /* Adjust vertical margin as needed */
    width: fit-content; /* Make button width fit its content */
}

@media screen and (max-width: 480px) {
    .main-grid-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
}